<%# <h1>Add review</h1> %>

<%# Attention à l'ordre des parametres %>
<%= simple_form_for [restaurant, review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :content %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<hr>
<%#= link_to 'Back to restaurant', restaurant_path(@restaurant) %>
